:root {
    --color-hover: #ff4221;
    --color-main: rgba(255, 184, 184, 0.767);
    --color-footer: #c0c0c0;

}
*{
    text-decoration: none;
    margin: 0;
    list-style-type: none;
}
a{
    color: inherit;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}


/* ======= Header padrão ======= */
header {
   margin-top: 20px;
    display: flex;

    position: relative;
    margin-bottom: 5px;

}

.logo-lunch {
    display: flex;
    flex: 1;
}
.logo-lunch img{
   
    height: 40px;
    margin: 10px 5px 30px 50px;
}
.logo {
     font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 56px;
    margin: 70px 0 10px 10px ;
    
}
.title-name {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 25px;
}

.nav {
   margin-left: 150px;
   margin-top: 20px;
   font-family: 'Josefin Sans', sans-serif;
   font-size: 17px;


}
.nav a {
    padding-right: 25px;
}

.nav a:hover{
 padding:15px;
 
  color: white;
  border-radius: 8px;
  background-color: black;
  transition: 300ms;
}
.nav-img img {
    height: 25px;
    margin-right: 20px;
    margin-top: 20px;
    
    
}
.nav-img img:hover{
 padding:15px;

 background-color:white;
 border: 1.5px solid black;
 border-radius: 35%;
 
  transition: 300ms;
}

/*===== Main padrão ======*/

main{
    height: 75vh;
    background-image: url("./img/food.jpg"); 
    background-repeat: no-repeat;  
    background-size: cover; 
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}


.content{
    background-color: rgba(255, 255, 255, 0.4);
    height: 72vh;
    margin:0 auto;
   
    justify-content: center;
    text-align: center;
    padding: 20px;
}
/*====== Footer padrão ======*/

footer{
    font-family: 'Josefin Sans', sans-serif; 
    position: absolute;
    bottom:0;
    margin:auto;
    width: 100%;
    text-align: center;
    
    
}

.footer-icons {
    text-align: center;
    padding: 5px;
    
}
.footer-icons img{
    height: 20px;
}
/* ========= Home Page =============*/
.lunch {
    font-family: 'Josefin Sans', sans-serif;
    font-size:23px;
     border-radius: 8px;
     margin: 8% auto;
     
     padding: 20px;
     background-color: white;
     width: 600px;
     display:flex;
 }
 .lunch p{
     margin-top:40px;
 }
 .lunch img{
    height: 160px;
    padding: 20px
}
 
/* ========= Cardapio Page =============*/
 .cardap{
   font-family: 'Josefin Sans', sans-serif;
    border-radius: 8px;
    margin: -1% auto;
    padding: 10px;
    background-color: white;
    justify-content: center;
    text-align: center;
    width: 600px;height: 450px;
    font-size: 16px;
}
.cardap img{
    height: 50px;
}
 .cardap h2 {
     margin-top: 10px;
padding: 15px;
}
.content th {
    padding: 5px;
}
.cardap tr:hover{
    transition: 300ms;
background-color: aliceblue;
}
/* ========= Add Refeição =============*/

form {
    font-family: 'Josefin Sans', sans-serif; 
    padding: 10px;
    margin: 5% auto;
    
    border-radius: 8px;
    background-color: white;
    width: 500px;

    
}
form h2{
    padding:15px;
}
label{
    
    font-size: 20px;
    margin:5px;
    padding: 10px;
    
}
input {
    margin:10px;
    padding: 3px;
    border: 1.5px solid black;
    border-radius: 6px;
}
button {
    font-family: 'Josefin Sans', sans-serif; 
    font-size:19px;
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 4px;

}
button:hover{
    transition: 300ms;
    color: black;
    background-color: white;
    border: 1px solid black;
}
/* ========= Funcionários Page =============*/
.emp {
    font-family: 'Josefin Sans', sans-serif; 
    text-align: center;
    margin:7% auto;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    width: 20%;
}

.emp ul {
    font-family: 'Josefin Sans', sans-serif; 
    font-weight: 500;
    padding: 10px;
}
.emp h2{
    padding: 10px;
}
.emp li {
    font-size:18px;
    padding:3px;}


    /*======== Vendas ======= */
    .vendas{
        font-family: 'Josefin Sans', sans-serif;
         border-radius: 8px;
         margin: 4% auto;
         padding: 20px;
         background-color: white;
         justify-content: center;
         text-align: center;
         width: 620px;
     }
  
     /* ======== Historico ============ */
     .record{
        font-family: 'Josefin Sans', sans-serif;
         border-radius: 8px;
         margin: 0 auto;
         padding: 10px;
         background-color: white;
         justify-content: center;
         text-align: center;
         width: 800px;
     }
   .record table, h2{
    margin-top:20px;
   }
    .record td {
        
        padding:15px;
    }
    .search {
        margin: 2% auto;
        display: flex;
        flex: 1;
        justify-content: center;
    }
    .search input {
    margin: 0;
    height: 30px;
    width:300px;
    padding: 0;
    border-radius: 8px 0 0 8px;
    }
    .search button {
        font-family: 'Josefin Sans', sans-serif; 
        font-size:18px;
        margin: 0;
        height: 33px;
        width:170px;
        color: white;
        background-color: black;
        border: 0.5px solid black;
        border-radius: 0 8px 8px 0;
        align-items: center;
        text-align: center;
    
    }
    .search button:hover{
        transition: 300ms;
    color: black;
    background-color: white;
    border: 0.5px solid black;
    }
   