:root{
    --color-principal: #23b5b5;
    --color-primary-black: black;
    --color-primary-light: white;
    --color-primary-dark: rgba(1, 5, 27, 0.4);
    --color-primary-blur: #263140;
    --color-secundary-blur: #a6f0fd; 
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    
}
a{
    color: inherit;
}

body{
   /* background-image: url("./img/background-azul-escuro-degrade-8.jpg"); */
    background-image:url("./img/background\ uau.jpg");
      /* background-image: url("./img/galax2.jpg"); */
     /* background-color: #263140;   */
     background-repeat: no-repeat;
     background-size: cover;
    
    height: 100%;

}
header{
  
    display: flex;
    padding-bottom: 20px;
}
.logo{
    margin: 30px 0px 0 60px;
    
    height: 60px;
}

nav {
    font-family:'Poppins', sans-serif;
    font-size: 18px;
    margin: 50px 50px 0 320px;
    color: white;
    
   
}

nav a {
   
    padding: 20px;
}
nav a:hover {
    color: var(--color-secundary-blur);
    
    border-bottom-color: var(--color-secundary-blur);
    border-bottom: 3px;
}
main{
    
   
    color:var(--color-primary-light);
    font-family: 'Open Sans', sans-serif;
    margin: 40px 0 0 70px;  

}

.programadora {
    color:var(--color-primary-light);
    display:flex;
    
    
}
.descricao {
    
    margin-top: 90px;
   
   width: 600px;
}
.descricao p {
    text-align: justify;
}
.descricao h1 {
    font-size: 60px;
    font-weight: 500;
    
}
.descricao h3, h3 {
    color: var(--color-principal);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.programadora img {
    margin: 0px 0px 60px 80px;
    height: 400px;
}


footer {
   margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    color:var(--color-primary-light);
    background-color: var(--color-primary-dark);
}
footer p {
    
    width: 200px;
    font-size: 12px;
    margin: 0 auto;
    padding: 5px;
}

/* =============== Sobre mim ============= */
#sobre-mim { 
    margin-top: 50px;
    display:flex;
   
    
    
}
#sobre-mim h2{
    color: var(--color-principal);
    margin-top:30px;
    font-size: 22px;
}
#sobre-mim p{
     margin-top:10px;

     text-align: justify;
    
    
    font-size: 16px;
}
.sobre-mim {
    color:var(--color-primary-light);
    margin-top: -40px;
    width: 600px;
}
.profile {
    margin: 20px 0px 100px 120px;
    height: 350px;
    width: 350px;
    /* background-color: var(--color-primary-light); */
    background-image: url("./img/galax1.jpg");
    background-size: cover;
    border-radius: 50%;
    overflow: hidden;
}
.profile img {
    margin: 25px 70px 20px 65px;
    height: 350px;
    
}
.about{
    font-family:'Poppins', sans-serif; 
font-size: 12px;
font-weight: 600;

}
.italic {
    font-family:'Poppins', sans-serif; 
    font-style: italic;
}

/* ============= Skill Page ================== */
.porti {
    margin-top: 80px;
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
    
}
section {
   margin-right: 60px;
   margin-bottom: 60px;
    width: 520px;
    height: 420px;
    border: 5px solid var(--color-principal);
    border-radius: 8px;
   background-color: var(--color-primary-dark);
}
section img {margin: 0;
    padding: 0;
    width: 520px;
    height: 360px;
}
section:hover {
    border: 5px solid var(--color-secundary-blur);
    border-radius: 8px;
    background-color: transparent;

  
}
.tecnologias {
   margin-left: 30px;
}
.port3 {
    margin: 0 0 0 300px;
}