:root{
    --color-primary:rgb(6, 6, 95);
    --color-primary-header: rgb(157, 50, 179);
    --color-secundary-header:rgba(177, 14, 123, 0.712);
 
}

*{
    color:inherit;
    text-decoration:none;
    box-shadow: none;
}
body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: white;
   display: flex;
   justify-content: space-between;
   background-color: var(--color-secundary-header);
}
span{
    color:var(--color-primary);
}
.logo {
    margin-left: 30px;
}
.search {
    margin-right: 40px;
    display: flex;
    align-items: center;

}
.search input {
    border: 0 none;
    height: 25px;
    width: 100px;
}
.cards {
    margin: 60px 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
}
.card {
width:250px;
height: 220px;


}

.card p {
    
}
.video{
display: flex;
justify-content: center;
height: 530px;
}
.card video{
    width:250px;
    height: 170px;
}


.video-card h2{
  margin-top: 10px;
 color: var(--color-primary);
}
footer {
    display:flex;
    color: white;
justify-content: center;
    background-color: black;
}
footer span {
    color:var(--color-secundary-header);
}