body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: white;
}

.green-background {
    background-color: green;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}

.yellow-background {
    display: flex;
    justify-content: center;
    align-items: center;
        width: 1000px;
    background-color: yellow;
}
#top-container {
    display: flex;
    flex-direction: row;
}
.pink-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: fuchsia;
    height: 407px;
}
#middle-container{
    display: flex;
    justify-content: space-between;
}

.blue-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 650px;
    background-color: blue;
}

.red-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: red;
}

.lightgreen-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 350px;
    background-color: lightgreen;
}

.purple-background {

    display: flex;
    bottom: 0;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: purple;
}